@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

// Font-family
$font-family-large: "Roboto";
$font-family-thin: "Roboto";

// Colors
$primary-color: #060e4e;
$secondary-color: #f1f1f1;
$third-color: #ffdf00;
$border-color: #e6ecf8;

// Borders
$border-radius: 20px;
