@import "./_vars";

* {
  font-family: $font-family-large;
}

html,
body {
  margin: 0;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }
}
